<template>
  <div>
    <br />

    <div class="form-group">
      <button @click.prevent="novo" class="btn btn-primary">
        Novo Candidato
      </button>
    </div>
    <br />
    <label>Filtros :</label>
    <table id="table_filtro" class="table-sm">
      <tr>
        <td style="border-top: none">
          <input
            @change="lista"
            v-model="filtros.tecnologia.csharp"
            type="checkbox"
            id="csharp"
            name="csharp"
            checked
          /><label>C#</label>
        </td>
        <td style="border-top: none">
          <input
            @change="lista"
            v-model="filtros.tecnologia.Javascrip"
            type="checkbox"
            id="Javascrip"
            name="Javascrip"
            checked
          /><label>Javascrip</label>
        </td>
        <td style="border-top: none">
          <input
            @change="lista"
            v-model="filtros.tecnologia.Nodejs"
            type="checkbox"
            id="Nodejs"
            name="Nodejs"
            checked
          /><label>Nodejs</label>
        </td>
        <td style="border-top: none">
          <input
            @change="lista"
            v-model="filtros.tecnologia.Angular"
            type="checkbox"
            id="Angular"
            name="Angular"
            checked
          /><label>Angular</label>
        </td>
        <td style="border-top: none">
          <input
            @change="lista"
            v-model="filtros.tecnologia.React"
            type="checkbox"
            id="React"
            name="React"
            checked
          /><label>React</label>
        </td>
        <td style="border-top: none">
          <input
            @change="lista"
            v-model="filtros.tecnologia.Ionic"
            type="checkbox"
            id="Ionic"
            name="Ionic"
            checked
          /><label>Ionic</label>
        </td>
        <td style="border-top: none">
          <input
            @change="lista"
            v-model="filtros.tecnologia.Mensageria"
            type="checkbox"
            id="Mensageria"
            name="Mensageria"
            checked
          /><label>Mensageria</label>
        </td>
        <td style="border-top: none">
          <input
            @change="lista"
            v-model="filtros.tecnologia.PHP"
            type="checkbox"
            id="PHP"
            name="PHP"
            checked
          /><label>PHP</label>
        </td>
        <td style="border-top: none">
          <input
            @change="lista"
            v-model="filtros.tecnologia.Laravel"
            type="checkbox"
            id="Laravel"
            name="Laravel"
            checked
          /><label>Laravel</label>
        </td>
      </tr>
    </table>
    <table id="table" class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>e-amil</th>
          <th>Idade</th>
          <th>URL Linkedin</th>
          <th>Conhecimento</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</template>
<script>
export default {
  data() {
    return {
      user: null,
      filtros: {
        tecnologia: {
          csharp: false,
          Javascrip: false,
          Nodejs: false,
          Angular: false,
          React: false,
          Ionic: false,
          Mensageria: false,
          PHP: false,
          Laravel: false,
        },
        tecnologia_id: {
          csharp: 1,
          Javascrip: 2,
          Nodejs: 3,
          Angular: 4,
          React: 5,
          Ionic: 6,
          Mensageria: 7,
          PHP: 8,
          Laravel: 9,
        },
      },
    };
  },
  methods: {
    novo() {
      this.$router.push({ name: "Candidato_novo" });
    },
    criar_linha_grid(dados) {
      return "<tr><td>" + dados.name + " </td></tr> ";
    },
    lista: function() {
      axios
        .post("/api/candidato-lista", this.filtros, this.tecnologia_id, {
          //headers: headers
        })
        .then((res) => {
          var table = $("#table").find("tbody");
          table.empty();
          // console.log(res);
          for (let index = 0; index < res.data[0].length; index++) {
            let dados = res.data[0][index];
            let line =
              "<tr> " +
              "<td>" +
              dados.name +
              " </td>" +
              "<td>" +
              dados.email +
              " </td>" +
              "<td>" +
              dados.idade +
              " </td>" +
              "<td>" +
              dados.linkedin +
              " </td>" +
              "<td>" +
              dados.tecnologia +
              " </td>" +
              "</tr>";
            // console.log(line);
            table.append(line);
          }
        });
    },
  },
  mounted: function () {
      this.$nextTick(function () {
        this.lista();
      })
    }, 
};
</script>