<template>
  <div>
    <br />
    Novo candidato
    <br />
    <br />
    <div class="form-group">
      <label>Nome</label>
      <input
        id="name"
        v-model="candidato.name"
        type="text"
        class="form-control"
        placeholder="Nome"
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <label>e-mail</label>
      <input
        id="email"
        v-model="candidato.email"
        type="text"
        class="form-control"
        placeholder="e-mail"
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <label>Idade</label>
      <input
        id="idade"
        v-model="candidato.idade"
        type="number"
        class="form-control"
        placeholder="Idade"
        min="0"
        max="99"
        autocomplete="off"
      />
    </div>

    <div class="form-group">
      <label>linkedin</label>
      <input
        id="linkedin"
        v-model="candidato.linkedin"
        type="text"
        class="form-control"
        placeholder="URL Linkedin"
        autocomplete="off"
      />
    </div>

    <!-- CONHECIMENTOS DE TECNOLOGIA -->
    <table id="table" class="table-sm">
      <tr>
        <td style="border-top: none">
          <input
            v-model="candidato.tecnologia.csharp"
            type="checkbox"
            id="csharp"
            name="csharp"
            checked
          /><label>C#</label>
        </td>
        <td style="border-top: none">
          <input
            v-model="candidato.tecnologia.Javascrip"
            type="checkbox"
            id="Javascrip"
            name="Javascrip"
            checked
          /><label>Javascrip</label>
        </td>
        <td style="border-top: none">
          <input
            v-model="candidato.tecnologia.Nodejs"
            type="checkbox"
            id="Nodejs"
            name="Nodejs"
            checked
          /><label>Nodejs</label>
        </td>
        <td style="border-top: none">
          <input
            v-model="candidato.tecnologia.Angular"
            type="checkbox"
            id="Angular"
            name="Angular"
            checked
          /><label>Angular</label>
        </td>
        <!-- </tr>
            <tr> -->
        <td style="border-top: none">
          <input
            v-model="candidato.tecnologia.React"
            type="checkbox"
            id="React"
            name="React"
            checked
          /><label>React</label>
        </td>
        <td style="border-top: none">
          <input
            v-model="candidato.tecnologia.Ionic"
            type="checkbox"
            id="Ionic"
            name="Ionic"
            checked
          /><label>Ionic</label>
        </td>
        <td style="border-top: none">
          <input
            v-model="candidato.tecnologia.Mensageria"
            type="checkbox"
            id="Mensageria"
            name="Mensageria"
            checked
          /><label>Mensageria</label>
        </td>
        <td style="border-top: none">
          <input
            v-model="candidato.tecnologia.PHP"
            type="checkbox"
            id="PHP"
            name="PHP"
            checked
          /><label>PHP</label>
        </td>
        <td style="border-top: none">
          <input
            v-model="candidato.tecnologia.Laravel"
            type="checkbox"
            id="Laravel"
            name="Laravel"
            checked
          /><label>Laravel</label>
        </td>
      </tr>
    </table>
    Apresentação final : <br /><br />

    Nome : {{ candidato.name }} <br />
    email : {{ candidato.email }} <br />
    idade : {{ candidato.idade }} <br />
    linkedin : {{ candidato.linkedin }} <br /><br />

    Conhecimentos : <br />
    <table id="table" class="table-sm">
      <tr>
        <td style="border-top: none">
          C# : {{ candidato.tecnologia.csharp ? "Sim" : " Não" }}
        </td>
        <td style="border-top: none">
          Javascrip: {{ candidato.tecnologia.Javascrip ? "Sim" : " Não" }}
        </td>
        <td style="border-top: none">
          Nodejs: {{ candidato.tecnologia.Nodejs ? "Sim" : " Não" }}
        </td>
        <td style="border-top: none">
          Angular: {{ candidato.tecnologia.Angular ? "Sim" : " Não" }}
        </td>
      </tr>
      <tr>
        <td style="border-top: none">
          React: {{ candidato.tecnologia.React ? "Sim" : " Não" }}
        </td>
        <td style="border-top: none">
          Ionic: {{ candidato.tecnologia.Ionic ? "Sim" : " Não" }}
        </td>
        <td style="border-top: none">
          Mensageria: {{ candidato.tecnologia.Mensageria ? "Sim" : " Não" }}
        </td>
        <td style="border-top: none">
          PHP: {{ candidato.tecnologia.PHP ? "Sim" : " Não" }}
        </td>
        <td style="border-top: none">
          Laravel: {{ candidato.tecnologia.Laravel ? "Sim" : " Não" }}
        </td>
      </tr>
    </table>
    <div class="form-group">
      <span
        class="form-control alert alert-danger"
        style="padding-bottom: 4% !important; padding-left: 2% !important"
        v-if="erros.mensagem"
        >{{ erros.mensagem[0] }}</span
      >
    </div>

    <div class="form-group">
      <span
        class="form-control alert alert-success"
        style="padding-bottom: 4% !important; padding-left: 2% !important"
        v-if="succsess"
        >{{ succsess }}</span
      >
    </div>

    <button @click.prevent="salvaCandidato" class="btn btn-success">
      Confirmar novo Candidato
    </button>

    <br /><br /><br /><br />
  </div>
</template>

<script>
export default {
  data() {
    return {
      message: "",
      erros: [],
      succsess: "",
      candidato: {
        name: "",
        email: "",
        idade: "",
        linkedin: "",
        tecnologia: {
          csharp: false,
          Javascrip: false,
          Nodejs: false,
          Angular: false,
          React: false,
          Ionic: false,
          Mensageria: false,
          PHP: false,
          Laravel: false,
        },
        tecnologia_id: {
          csharp: 1,
          Javascrip: 2,
          Nodejs: 3,
          Angular: 4,
          React: 5,
          Ionic: 6,
          Mensageria: 7,
          PHP: 8,
          Laravel: 9,
        },
      },
    };
  },
  methods: {
    salvaCandidato() {
      axios
        .post("/api/candidato-novo", this.candidato, {
          //headers: headers
        })
        .then(() => {
          this.erros = [];
          this.succsess = "Candidato incluido com sucesso.";
          setTimeout(() => this.$router.push({ name: "Candidatos" }), 2000);
        })
        .catch((error) => {
          this.succsess = "";
          console.log("Erro novo candidato");
          this.erros = error.response.data.errors;
        });
    },
  },
  mounted() {},
};
</script>