<template>
    <div>
        <br>
        <br>
        Existe {{  this.count }} candidados cadastrados 
    </div>
</template>
<script>
export default {
    data(){
        return{
            user: null,
            count : 0,
        }
    },
    methods:{
        // logout(){
        //     axios.post('/api/login', this.login, {
        //     //headers: headers
        // }).then(() =>{
        //     //localStorage.auth = true;
        //     this.$router.push({ name: "Login"});
        // }).catch((error) =>{
        //     console.log('login erro');
            
        //     this.erros = error.response.data.errors;
            
        // })      

        //     // localStorage.auth = false;
        //     // this.$router.push({ name: "Login"});
        // }
    },
    mounted(){
        axios.post('/api/candidato-count').then((res)=>{
            this.count = res.data;
            //console.log(;
        });
    },
}
</script>