
<template>
    <div class="login-form">
  
        <h2 class="text-center">Log in</h2>       
        <div class="form-group">
            <input type="text" class="form-control" placeholder="e-mail" v-model="login.email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" v-model="login.password">
        </div>
        <div class="form-group">
         <div>
           <button @click.prevent="doLogin" type="submit">Login</button> 
        </div>  
        </div>
        <div class="form-group">
           <span class="form-control alert alert-danger" style="padding-bottom: 4% !important; padding-left: 2% !important;" v-if="erros.mensagem">{{ erros.mensagem[0] }}</span>
        </div>
    </div>       
    
</template>


<script>
export default {
    data: () => {
        return {
            message : '',
            login :{
                email: '',
                password: '',
            },
            erros: [],
        }
    },
    methods: {
    doLogin() { 
        axios.post('/api/login', this.login, {
            //headers: headers
        }).then(() =>{
            localStorage.auth = true;
            this.$router.push({ name: "Dashboard"}); 
        }).catch((error) =>{
            console.log('login erro');
            this.erros = error.response.data.errors;
        })      
    },
  }
}
</script>