<template>
  <div>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
      <router-link :to="{ name: 'home' }" class="navbar-brand"
        >Home</router-link
      >
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav">
           <li class="nav-item" id="menu-login">
            <router-link
              class="nav-link"
              data-toggle="collapse"
              :to="{ name: 'Login' }"
            >
              Entrar
            </router-link>
          </li>

         
            <li class="nav-item" id="menu-dashboard">
              <router-link
                class="nav-link"
                data-toggle="collapse"
                :to="{ name: 'Dashboard' }"
              >
                Dashboard
              </router-link>
            </li>            

              <li class="nav-item" id="menu-candidato">
              <router-link
                class="nav-link"
                data-toggle="collapse"
                :to="{ name: 'Candidatos' }"
              >
                Candidato
              </router-link>
            </li>      
        </ul>
        <ul class="nav navbar-nav navbar-right">
       <li class="nav-item" id="menu-logout"  @click.prevent="logout">
               <router-link
              class="nav-link"
              data-toggle="collapse"
              :to="{ name: 'Home' }">
              Sair
            </router-link>
            </li> 
        </ul>
      </div>
    </nav>

    <div class="container">
      <router-view></router-view>
    </div>
     <h1 v-if="!isHidden">Hide me on click event!</h1>
  </div>
</template>

<script>
export default {
    data: () => {
        return {
            message : '',
            erros: [],
            isHidden : localStorage.auth,
        }
    }, watch: {
      $route() {
        $("#navbarCollapse").collapse("hide");
      },
    }, 
    methods: {
      checkAuth: function() {
        if (localStorage.auth == 'true'){
              $('#menu-login').hide();
              $('#menu-dashboard').show();
              $('#menu-candidato').show();
              $('#menu-logout').show();              
          }else{
            $('#menu-login').show();
            $('#menu-dashboard').hide();
            $('#menu-candidato').hide();
            $('#menu-logout').hide();
          }
      },
      logout(){
            localStorage.auth = false;
            this.$router.push({ name: "Login"});
        }
    },
    updated: function () {
      this.$nextTick(function () {
        this.checkAuth();
      })
    },
    mounted: function () {
      this.$nextTick(function () {
        this.checkAuth();
      })
    }, 
    beforeMount(){
      this.checkAuth()
    },
};


</script>